<% if current_user %>

	<%= render 'tracks/home', track: @tracks %><!-- 
  <%= form_tag root_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %> -->
  
<% else %>
  
     <%= render "login" %>
     
<% end %>


